<script>
    // Remember tab state
    $(function() {
        $('a[data-bs-toggle="tab"]').on('shown.bs.tab', function (e) {
            localStorage.setItem('lastTab', $(this).attr('href'));
        });
        var lastTab = localStorage.getItem('lastTab');
        
        if (lastTab) {
            $('[href="' + lastTab + '"]').tab('show');
        }
        
    });
</script>

<form name="form" method="post" action="{{ glpi_rootdoc }}" id="phpsaml_config">
<div class="phpsaml_config_wrapper" id="samlForm">
    <input type="hidden" name="{{ inputfields.id.field }}" value="{{ inputfields.id.value }}">

    <div class="card" style="min-height:100%;">
        <!-- Input fields -->
        <ul class="nav nav-tabs" id="samlTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" 
                   id="general-tab" 
                   data-bs-toggle="tab" 
                   href="#general" 
                   data-bs-target="#general" 
                   type="button" role="tab" 
                   aria-controls="general" 
                   aria-selected="true"><b>{{ header_general }} {{ general_warning }}</b></a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" 
                   id="general-tab" 
                   data-bs-toggle="tab" 
                   href="#transit" 
                   data-bs-target="#transit" 
                   type="button" 
                   role="tab" 
                   aria-controls="transit" 
                   aria-selected="true"><b>{{ header_transit }} {{ header_warning }}</b></a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" 
                   id="provider-tab" 
                   data-bs-toggle="tab" 
                   href="#provider" 
                   data-bs-target="#provider" 
                   type="button" 
                   role="tab" 
                   aria-controls="provider" 
                   aria-selected="false"><b>{{ header_provider }} {{ provider_warning }}</b></a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" 
                   id="idp-tab" 
                   data-bs-toggle="tab" 
                   href="#idp" 
                   data-bs-target="#idp" 
                   type="button" 
                   role="tab" 
                   aria-controls="idp" 
                   aria-selected="false"><b>{{ header_idp }} {{ idp_warning }}</b></a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" 
                   id="security-tab" 
                   data-bs-toggle="tab" 
                   href="#security" 
                   data-bs-target="#security" 
                   type="button" 
                   role="tab" 
                   aria-controls="security" 
                   aria-selected="false"><b>{{ header_security }} {{ security_warning }}</b></a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" 
                   id="logging-tab" 
                   data-bs-toggle="tab" 
                   href="#logging" 
                   data-bs-target="#logging" 
                   type="button" 
                   role="tab" 
                   aria-controls="logging" 
                   aria-selected="false"><b>{{ header_logging }} {{ logging_warning }}</b></a>
            </li>
        </ul>
        <div class="tab-content flex-fill" id="myTabContent">
            <!-- ################################################################################-->
            <!-- General details -->
            <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
                <div class="card-body">
                    <!-- name field -->
                    <div class="row g-2">
                        <div class="col-md-5 p-2">
                            <label for="{{ inputfields.name.field }}" class="form-label"><sup style="color:red;">*</sup> {{ inputfields.name.formlabel }}</label>
                            <input class="w-100" type="text" name="{{ inputfields.name.field }}" id="{{ inputfields.name.field }}" spaceholder="" title="" value="{{ inputfields.name.value }}">
                            {% if inputfields.name.errors == true %}
                                <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.name.errors }}</div>
                            {% endif %}
                        </div>
                        <!-- domain field -->
                        <div class="col-md-5 p-2">
                            <label for="{{ inputfields.conf_domain.field }}" class="form-label"><sup style="color:red;">*</sup> {{ inputfields.conf_domain.formlabel }}</label>
                            <input class="w-100" type="text" name="{{ inputfields.conf_domain.field }}" id="{{ inputfields.conf_domain.field }}" spaceholder="" title="" value="{{ inputfields.conf_domain.value }}">
                            {% if inputfields.conf_domain.errors == true %}
                                <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.conf_domain.errors }}</div>
                            {% endif %}
                        </div>
                   
                        <!-- icon field -->
                        <div class="col-md-5 p-2">
                            <label for="{{ inputfields.conf_icon.field }}" class="form-label"><sup style="color:red;">*</sup> {{ inputfields.conf_icon.formlabel }}</label>
                            <input class="w-100" type="text" name="{{ inputfields.conf_icon.field }}" id="{{ inputfields.conf_icon.field }}" spaceholder="" title="" value="{{ inputfields.conf_icon.value }}">
                            {% if inputfields.conf_icon.errors == true %}
                                <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.conf_icon.errors }}</div>
                            {% endif %}
                        </div>

                        <!-- Comment field -->
                        <div class="col-md-5 p-2">
                            <label for="{{ inputfields.comment.field }}" class="form-label">{{ inputfields.comment.formlabel }}</label>
                            {% if inputfields.comment.errors == true %}
                                <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.comment.errors }}</div>
                            {% endif %}
                            <textarea name="{{ inputfields.comment.field }}" cols="50" rows="10" id="{{ inputfields.comment.field }}" spaceholder="" title="{{ inputfields.comment.title}}">{{ inputfields.comment.value }}</textarea>
                        </div>

                         <!-- enabled -->
                         <div class="col-md-5 p-2">
                            <label for="{{ inputfields.is_active.field }}" class="form-label">{{ inputfields.is_active.formlabel }}</label>
                            {% if inputfields.is_active.errors == true %}
                                <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.is_active.errors }}</div>
                            {% endif %}
                            <select name="{{ inputfields.is_active.field }}" id="{{ inputfields.is_active.field }}" title="{{ inputfields.is_active.title }}">
                            {% for key, yesno in inputOptionsBool %}
                                {% if inputfields.is_active.value == key %}
                                    <option selected value="{{ key }}">{{ yesno }}</option>
                                {% else %}
                                    <option value="{{ key }}">{{ yesno }}</option>
                                {% endif %}
                            {% else %}
                                <option selected value="0">No!</option><option value="1">Yes!</option>
                            {% endfor %}
                            </select>
                        </div>

                        <!-- Debug mode -->
                        <div class="col-md-5 p-2">
                            <label for="{{ inputfields.debug.field }}" class="form-label">{{ inputfields.debug.formlabel }}</label>
                            {% if inputfields.debug.errors == true %}
                                <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.debug.errors }}</div>
                            {% endif %}
                            <select name="{{ inputfields.debug.field }}" id="{{ inputfields.debug.field }}" title="{{ inputfields.debug.title }}">
                            {% for key, yesno in inputOptionsBool %}
                                {% if inputfields.debug.value == key %}
                                    <option selected value="{{ key }}">{{ yesno }}</option>
                                {% else %}
                                    <option value="{{ key }}">{{ yesno }}</option>
                                {% endif %}
                            {% else %}
                                <option selected value="0">No!</option><option value="1">Yes!</option>
                            {% endfor %}
                            </select>
                        </div>

                    </div>
                </div>
            </div>
            <!-- ################################################################################-->
            <!-- transit tab -->
            <div class="tab-pane fade show" id="transit" role="tabpanel" aria-labelledby="transit-tab">
                <div class="card-body">
                    <div class="row g-2">
                        <!-- compress_requests -->
                        <div class="col-md-5 p-2">
                            <label for="{{ inputfields.compress_requests.field }}" class="form-label">{{ inputfields.compress_requests.formlabel }}</label>
                            {% if inputfields.compress_requests.errors == true %}
                                <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.compress_requests.errors }}</div>
                            {% endif %}
                            <select name="{{ inputfields.compress_requests.field }}" id="{{ inputfields.compress_requests.field }}" title="{{ inputfields.compress_requests.title }}">
                            {% for key, yesno in inputOptionsBool %}
                                {% if inputfields.compress_requests.value == key %}
                                    <option selected value="{{ key }}">{{ yesno }}</option>
                                {% else %}
                                    <option value="{{ key }}">{{ yesno }}</option>
                                {% endif %}
                            {% else %}
                                <option selected value="0">No!</option><option value="1">Yes!</option>
                            {% endfor %}
                            </select>
                        </div>

                        <!-- compress_responses -->
                        <div class="col-md-5 p-2">
                            <label for="{{ inputfields.compress_responses.field }}" class="form-label">{{ inputfields.compress_responses.formlabel }}</label>
                            {% if inputfields.compress_responses.errors == true %}
                                <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.compress_requests.errors }}</div>
                            {% endif %}
                            <select name="{{ inputfields.compress_responses.field }}" id="{{ inputfields.compress_responses.field }}" title="{{ inputfields.compress_responses.title }}">
                            {% for key, yesno in inputOptionsBool %}
                                {% if inputfields.compress_responses.value == key %}
                                    <option selected value="{{ key }}">{{ yesno }}</option>
                                {% else %}
                                    <option value="{{ key }}">{{ yesno }}</option>
                                {% endif %}
                            {% else %}
                                <option selected value="0">No!</option><option value="1">Yes!</option>
                            {% endfor %}
                            </select>
                        </div>

                        <!-- enforce SSO -->
                        <div class="col-md-5 p-2">
                            <label for="{{ inputfields.proxied.field }}" class="form-label">{{ inputfields.proxied.formlabel }}</label>
                            {% if inputfields.proxied.errors == true %}
                                <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.proxied.errors }}</div>
                            {% endif %}
                            <select name="{{ inputfields.proxied.field }}" id="{{ inputfields.proxied.field }}" title="{{ inputfields.proxied.title }}">
                            {% for key, yesno in inputOptionsBool %}
                                {% if inputfields.proxied.value == key %}
                                    <option selected value="{{ key }}">{{ yesno }}</option>
                                {% else %}
                                    <option value="{{ key }}">{{ yesno }}</option>
                                {% endif %}
                            {% else %}
                                <option selected value="0">No!</option><option value="1">Yes!</option>
                            {% endfor %}
                            </select>
                        </div>

                        <!-- validate_xml -->
                        <div class="col-md-5 p-2">
                            <label for="{{ inputfields.validate_xml.field }}" class="form-label">{{ inputfields.validate_xml.formlabel }}</label>
                            {% if inputfields.validate_xml.errors == true %}
                                <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.validate_xml.errors }}</div>
                            {% endif %}
                            <select name="{{ inputfields.validate_xml.field }}" id="{{ inputfields.validate_xml.field }}" title="{{ inputfields.validate_xml.title }}">
                            {% for key, yesno in inputOptionsBool %}
                                {% if inputfields.validate_xml.value == key %}
                                    
                                    <option selected value="{{ key }}">{{ yesno }}</option>
                                {% else %}
                                    <option value="{{ key }}">{{ yesno }}</option>
                                {% endif %}
                            {% else %}
                                <option selected value="0">No!</option><option value="1">Yes!</option>
                            {% endfor %}
                            </select>
                        </div>

                        <!-- validate_destination -->
                        <div class="col-md-5 p-2">
                            <label for="{{ inputfields.validate_destination.field }}" class="form-label">{{ inputfields.validate_destination.formlabel }}</label>
                            {% if inputfields.validate_destination.errors == true %}
                                <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.validate_destination.errors }}</div>
                            {% endif %}
                            <select name="{{ inputfields.validate_destination.field }}" id="{{ inputfields.validate_destination.field }}" title="{{ inputfields.validate_destination.title }}">
                            {% for key, yesno in inputOptionsBool %}
                                {% if inputfields.validate_destination.value == key %}
                                    
                                    <option selected value="{{ key }}">{{ yesno }}</option>
                                {% else %}
                                    <option value="{{ key }}">{{ yesno }}</option>
                                {% endif %}
                            {% else %}
                                <option selected value="0">No!</option><option value="1">Yes!</option>
                            {% endfor %}
                            </select>
                        </div>

                        <!-- lowercase_url_encoding -->
                        <div class="col-md-5 p-2">
                            <label for="{{ inputfields.lowercase_url_encoding.field }}" class="form-label">{{ inputfields.lowercase_url_encoding.formlabel }}</label>
                            {% if inputfields.lowercase_url_encoding.errors == true %}
                                <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.lowercase_url_encoding.errors }}</div>
                            {% endif %}
                            <select name="{{ inputfields.lowercase_url_encoding.field }}" id="{{ inputfields.lowercase_url_encoding.field }}" title="{{ inputfields.lowercase_url_encoding.title }}">
                            {% for key, yesno in inputOptionsBool %}
                                {% if inputfields.lowercase_url_encoding.value == key %}
                                    
                                    <option selected value="{{ key }}">{{ yesno }}</option>
                                {% else %}
                                    <option value="{{ key }}">{{ yesno }}</option>
                                {% endif %}
                            {% else %}
                                <option selected value="0">No!</option><option value="1">Yes!</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ################################################################################-->
            <!-- Service provider details -->
            <div class="tab-pane fade" id="provider" role="tabpanel" aria-labelledby="provider-tab">
                <div class="card-body">

                    <!-- sp_certificate -->
                    <div class="col-md-5 p-2">
                        <label for="{{ inputfields.sp_certificate.field }}" class="form-label">{{ inputfields.sp_certificate.formlabel }}</label>
                        <textarea name="{{ inputfields.sp_certificate.field }}" cols="80" rows="10" id="{{ inputfields.sp_certificate.field }}" spaceholder="" title="{{ inputfields.sp_certificate.title}}">{{ inputfields.sp_certificate.value|raw }}</textarea>
                        {% if inputfields.sp_certificate.errors == true %}
                            <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.sp_certificate.errors }}</div>
                        {% endif %}
                        
                        {% if inputfields.sp_certificate.validate.subject.CN == true %}
                            <div id="textHelper" class="form-text" style="color:rgb(71, 180, 8);">🆗 Valid certificate found: {{ inputfields.sp_certificate.validate.subject.CN }}</div>
                        {% endif %}
                        {% if inputfields.sp_certificate.validate.validations.validTo == true %}
                            <div id="textHelper" class="form-text" style="color:rgb(180, 120, 8);">{{ inputfields.sp_certificate.validate.validations.validTo }}</div>
                        {% endif %}
                        {% if inputfields.sp_certificate.validate.validations.validFrom == true %}
                            <div id="textHelper" class="form-text" style="color:rgb(180, 120, 8);">{{ inputfields.sp_certificate.validate.validations.validFrom }}</div>
                        {% endif %}
                    </div>

                    <!-- sp_private_key -->
                    <div class="col-md-5 p-2">
                        <label for="{{ inputfields.sp_private_key.field }}" class="form-label">{{ inputfields.sp_private_key.formlabel }}</label>
                        <textarea name="{{ inputfields.sp_private_key.field }}" cols="80" rows="10" id="{{ inputfields.sp_private_key.field }}" spaceholder="" title="{{ inputfields.sp_private_key.title}}">{{ inputfields.sp_private_key.value|raw }}</textarea>
                        {% if inputfields.sp_private_key.errors == true %}
                            <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.sp_private_key.errors }}</div>
                        {% endif %}
                    </div>

                    <!-- sp_nameid_format -->
                    <div class="col-md-7 p-1">
                        <label for="{{ inputfields.sp_nameid_format.field }}" class="form-label">{{ inputfields.sp_nameid_format.formlabel }}</label>
                        {% if inputfields.sp_nameid_format.errors == true %}
                            <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.sp_nameid_format.errors }}</div>
                        {% endif %}
                        <select name="{{ inputfields.sp_nameid_format.field }}" id="{{ inputfields.sp_nameid_format.field }}">
                                {% for key, spname in inputOptionsNameFormat %}
                                    {% if inputfields.sp_nameid_format.value == key %}
                                        <option selected value="{{ key }}">{{ spname }}</option>
                                    {% else %}
                                        <option value="{{ key }}">{{ spname }}</option>
                                    {% endif %}
                                {% endfor %}
                        </select>
                    </div>                
                </div>
            </div>
            <!-- ################################################################################-->
            <!-- Identity provider details -->
            <div class="tab-pane fade" id="idp" role="tabpanel" aria-labelledby="idp-tab">
                <div class="card-body">

                     <!-- idp_entity_id -->
                     <div class="col-md-7 p-1">
                        <label for="{{ inputfields.idp_entity_id.field }}" class="form-label">{{ inputfields.idp_entity_id.formlabel }}</label>
                        <input class="w-100" type="text" name="{{ inputfields.idp_entity_id.field }}" id="{{ inputfields.idp_entity_id.field }}" spaceholder="" title="" value="{{ inputfields.idp_entity_id.value }}">
                        {% if inputfields.idp_entity_id.errors == true %}
                            <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.idp_entity_id.errors }}</div>
                        {% endif %}
                    </div>

                    <!-- idp_single_sign_on_service -->
                    <div class="col-md-7 p-1">
                        <label for="{{ inputfields.idp_single_sign_on_service.field }}" class="form-label">{{ inputfields.idp_single_sign_on_service.formlabel }}</label>
                        <input class="w-100" type="text" name="{{ inputfields.idp_single_sign_on_service.field }}" id="{{ inputfields.idp_single_sign_on_service.field }}" spaceholder="" title="" value="{{ inputfields.idp_single_sign_on_service.value }}">
                        {% if inputfields.idp_single_sign_on_service.errors == true %}
                            <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.idp_single_sign_on_service.errors }}</div>
                        {% endif %}
                    </div>

                    <!-- idp_single_logout_service -->
                    <div class="col-md-7 p-1">
                        <label for="{{ inputfields.idp_single_logout_service.field }}" class="form-label">{{ inputfields.idp_single_logout_service.formlabel }}</label>
                        <input class="w-100" type="text" name="{{ inputfields.idp_single_logout_service.field }}" id="{{ inputfields.idp_single_logout_service.field }}" spaceholder="" title="" value="{{ inputfields.idp_single_logout_service.value }}">
                        {% if inputfields.idp_single_logout_service.errors == true %}
                            <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.idp_single_logout_service.errors }}</div>
                        {% endif %}
                    </div>

                    <!-- idp_certificate -->
                    <div class="col-md-5 p-2">
                        <label for="{{ inputfields.idp_certificate.field }}" class="form-label">{{ inputfields.idp_certificate.formlabel }}</label>
                        <textarea name="{{ inputfields.idp_certificate.field }}" cols="80" rows="10" id="{{ inputfields.idp_certificate.field }}" spaceholder="" title="{{ inputfields.idp_certificate.title}}">{{ inputfields.idp_certificate.value|raw }}</textarea>
                        {% if inputfields.idp_certificate.errors == true %}
                            <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.idp_certificate.errors }}</div>
                        {% endif %}
                        {% if inputfields.idp_certificate.validate.subject.CN == true %}
                            <div id="textHelper" class="form-text" style="color:rgb(71, 180, 8);">🆗 Valid Certificate found: {{ inputfields.idp_certificate.validate.subject.CN }}</div>
                        {% endif %}
                        {% if inputfields.idp_certificate.validate.validations.validTo == true %}
                            <div id="textHelper" class="form-text" style="color:rgb(180, 140, 8);">{{ inputfields.idp_certificate.validate.validations.validTo }}</div>
                        {% endif %}
                        {% if inputfields.idp_certificate.validate.validations.validFrom == true %}
                            <div id="textHelper" class="form-text" style="color:rgb(180, 140, 8);">{{ inputfields.idp_certificate.validate.validations.validFrom }}</div>
                        {% endif %}
                    </div>

                    <!-- requested_authn_context -->
                    <div class="col-md-7 p-1">
                        <label for="{{ inputfields.requested_authn_context.field }}" class="form-label">{{ inputfields.requested_authn_context.formlabel }}</label>
                        <select id="keep-order" multiple="multiple" aria-label="multiple select" name="{{ inputfields.requested_authn_context.field }}[]">
                            {% for key, authn in inputOptionsAuthnContext %}
                                    {%set selected = false %}
                                    {% for value in inputfields.requested_authn_context.value %}
                                        {% if value == key %}
                                            {% set selected = 'selected' %}
                                            {{value }} - {{ key }}
                                        {% endif %}
                                    {% endfor %}
                                        <option {{ selected }} value="{{ key }}">{{ authn }}</option>
                                {% endfor %}
                        </select>
                        {% if inputfields.requested_authn_context.errors == true %}
                            <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.requested_authn_context.errors }}</div>
                        {% endif %}	
                    </div>

                    <!-- requested_authn_context -->
                    <div class="col-md-7 p-1">
                        <label for="{{ inputfields.requested_authn_context_comparison.field }}" class="form-label">{{ inputfields.requested_authn_context_comparison.formtitle }} </label>
                        <select name="{{ inputfields.requested_authn_context_comparison.field }}" id="{{ inputfields.requested_authn_context_comparison.field }}" title="{{ inputfields.requested_authn_context_comparison.field }}">
                                {% for key, authnc in inputOptionsAuthnCompare %}
                                    {% if inputfields.requested_authn_context_comparison.value == key %}
                                        <option selected value="{{ key }}">{{ authnc }}</option>
                                    {% else %}
                                        <option value="{{ key }}">{{ authnc }}</option>
                                    {% endif %}
                                {% endfor %}
                        </select>	
                        {% if inputfields.requested_authn_context_comparison.errors == true %}
                            <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.requested_authn_context_comparison.errors }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- ################################################################################-->
            <!-- Security details -->
            <div class="tab-pane fade" id="security" role="tabpanel" aria-labelledby="idp-tab">
                <!-- Security configuration -->
                <div class="card-body">
                    <div class="row g-2">      
                        <!-- enforce SSO -->
                        <div class="col-md-5 p-2">
                            <label for="{{ inputfields.enforce_sso.field }}" class="form-label">{{ inputfields.enforce_sso.formlabel }}</label>
                            <select name="{{ inputfields.enforce_sso.field }}" id="{{ inputfields.enforce_sso.field }}" title="{{ inputfields.enforce_sso.title }}">
                            {% for key, yesno in inputOptionsBool %}
                                {% if inputfields.enforce_sso.value == key %}
                                    <option selected value="{{ key }}" >{{ yesno }}</option>
                                {% else %}
                                    <option value="{{ key }}">{{ yesno }}</option>
                                {% endif %}
                            {% else %}
                                <option selected value="0">No!</option><option value="1">Yes!</option>
                            {% endfor %}
                            </select>
                            {% if inputfields.enforce_sso.errors == true %}
                                <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.enforce_sso.errors }}</div>
                            {% endif %}
                        </div>

                        <!-- Strict mode -->
                        <div class="col-md-5 p-2">
                            <label for="{{ inputfields.strict.field }}" class="form-label">{{ inputfields.strict.formlabel }}</label>
                            <select name="{{ inputfields.strict.field }}" id="{{ inputfields.strict.field }}" title="{{ inputfields.strict.title }}">
                            {% for key, yesno in inputOptionsBool %}
                                {% if inputfields.strict.value == key %}
                                    <option selected value="{{ key }}">{{ yesno }}</option>
                                {% else %}
                                    <option value="{{ key }}">{{ yesno }}</option>
                                {% endif %}
                            {% else %}
                                <option selected value="0">No!</option><option value="1">Yes!</option>
                            {% endfor %}
                            </select>
                            {% if inputfields.strict.errors == true %}
                                <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.strict.errors }}</div>
                            {% endif %}
                        </div>

                         <!-- Jit usercreation mode -->
                         <div class="col-md-5 p-2">
                            <label for="{{ inputfields.user_jit.field }}" class="form-label">{{ inputfields.user_jit.formlabel }}</label>
                            <select name="{{ inputfields.user_jit.field }}" id="{{ inputfields.user_jit.field }}" title="{{ inputfields.user_jit.title }}">
                            {% for key, yesno in inputOptionsBool %}
                                {% if inputfields.user_jit.value == key %}
                                    <option selected value="{{ key }}">{{ yesno }}</option>
                                {% else %}
                                    <option value="{{ key }}">{{ yesno }}</option>
                                {% endif %}
                            {% else %}
                                <option selected value="0">No!</option><option value="1">Yes!</option>
                            {% endfor %}
                            </select>
                            {% if inputfields.user_jit.errors == true %}
                                <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.user_jit.errors }}</div>
                            {% endif %}
                        </div>

                        <!-- security_nameidencrypted -->
                        <div class="col-md-5 p-2">
                            <label for="{{ inputfields.security_nameidencrypted.field }}" class="form-label">{{ inputfields.security_nameidencrypted.formlabel }}</label>
                            <select name="{{ inputfields.security_nameidencrypted.field }}" id="{{ inputfields.security_nameidencrypted.field }}" title="{{ inputfields.security_nameidencrypted.title }}">
                            {% for key, yesno in inputOptionsBool %}
                                {% if inputfields.security_nameidencrypted.value == key %}
                                    <option selected value="{{ key }}">{{ yesno }}</option>
                                {% else %}
                                    <option value="{{ key }}">{{ yesno }}</option>
                                {% endif %}
                            {% else %}
                                <option selected value="0">No!</option><option value="1">Yes!</option>
                            {% endfor %}
                            </select>
                            {% if inputfields.security_nameidencrypted.errors == true %}
                                <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.security_nameidencrypted.errors }}</div>
                            {% endif %}
                        </div>

                        <!-- security_authnrequestssigned -->
                        <div class="col-md-5 p-2">
                            <label for="{{ inputfields.security_authnrequestssigned.field }}" class="form-label">{{ inputfields.security_authnrequestssigned.formlabel }}</label>
                            <select name="{{ inputfields.security_authnrequestssigned.field }}" id="{{ inputfields.security_authnrequestssigned.field }}" title="{{ inputfields.security_authnrequestssigned.title }}">
                            {% for key, yesno in inputOptionsBool %}
                                {% if inputfields.security_authnrequestssigned.value == key %}
                                    <option selected value="{{ key }}">{{ yesno }}</option>
                                {% else %}
                                    <option value="{{ key }}">{{ yesno }}</option>
                                {% endif %}
                            {% else %}
                                <option selected value="0">No!</option><option value="1">Yes!</option>
                            {% endfor %}
                            </select>
                            {% if inputfields.security_authnrequestssigned.errors == true %}
                                <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.security_authnrequestssigned.errors }}</div>
                            {% endif %}
                        </div>

                        <!-- security_authnrequestssigned -->
                        <div class="col-md-5 p-2">
                            <label for="{{ inputfields.security_logoutrequestsigned.field }}" class="form-label">{{ inputfields.security_logoutrequestsigned.formlabel }}</label>
                            <select name="{{ inputfields.security_logoutrequestsigned.field }}" id="{{ inputfields.security_logoutrequestsigned.field }}" title="{{ inputfields.security_logoutrequestsigned.title }}">
                            {% for key, yesno in inputOptionsBool %}
                                {% if inputfields.security_logoutrequestsigned.value == key %}
                                    <option selected value="{{ key }}">{{ yesno }}</option>
                                {% else %}
                                    <option value="{{ key }}">{{ yesno }}</option>
                                {% endif %}
                            {% else %}
                                <option selected value="0">No!</option><option value="1">Yes!</option>
                            {% endfor %}
                            </select>
                            {% if inputfields.security_logoutrequestsigned.errors == true %}
                                <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.security_logoutrequestsigned.errors }}</div>
                            {% endif %}
                        </div>

                        <!-- security_authnrequestssigned -->
                        <div class="col-md-5 p-2">
                            <label for="{{ inputfields.security_logoutresponsesigned.field }}" class="form-label">{{ inputfields.security_logoutresponsesigned.formlabel }}</label>
                            <select name="{{ inputfields.security_logoutresponsesigned.field }}" id="{{ inputfields.security_logoutresponsesigned.field }}" title="{{ inputfields.security_logoutrequestsigned.title }}">
                            {% for key, yesno in inputOptionsBool %}
                                {% if inputfields.security_logoutresponsesigned.value == key %}
                                    <option selected value="{{ key }}">{{ yesno }}</option>
                                {% else %}
                                    <option value="{{ key }}">{{ yesno }}</option>
                                {% endif %}
                            {% else %}
                                <option selected value="0">No!</option><option value="1">Yes!</option>
                            {% endfor %}
                            </select>
                            {% if inputfields.security_logoutresponsesigned.errors == true %}
                                <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.security_logoutresponsesigned.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- ################################################################################-->
            <!-- Security details -->
            <div class="tab-pane fade" id="logging" role="tabpanel" aria-labelledby="idp-tab">
                <div class="card-body">
                    <div class="row g-2">      
                        <!-- enforce SSO -->
                        <div class="col-md-5 p-2">
                            Logging placeholder
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="buttons-bar d-flex py-2 itil-footer">
            <div class="form-buttons col-lg d-flex justify-content-between ms-auto ms-lg-0">
                <div>
                    <button class="btn btn-primary" type="submit" name="update" title="Save">
                        <i class="far fa-save"></i>
                        <span class="d-none d-xl-block">{{ submit }}</span>
                     </button>
                </div>
                <div>
                    <button class="btn btn-outline-danger" type="submit" name="delete" title="" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Put in trashbin">
                        <i class="ti ti-trash"></i>
                        <span class="d-none d-xl-block">{{ delete }}</span>
                     </button>
                </div>
            </div>
        </div>
    <div>&nbsp;</div>
</div>
{{ close_form|raw }}
